.booking-form {
    text-align: center;
    display: grid;
    width: 100%;
    max-width: 900px;
    height: 60%;
    max-height: 500px;
    margin-left: 25%;
    margin-top: 2%;
    padding-top: 3%;
    background-color: beige;
    grid-template-columns: repeat(2, 1fr);
}

.booking-form h2 {
    grid-column: span 2;
}

.form-info {
    font-style: italic;
    grid-column: span 2;
}

.booking-form label {
    grid-column: 1/2;
}

.booking-form input {
    width: 100px;
    margin-bottom: 3%;
    grid-column: 2/2;
}

.booking-form select {
    width: 100px;
    margin-bottom: 3%;
    grid-column: 2/2;
}

.book-table-btn {
    grid-column: span 2;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.error-message {
    grid-column: span 2;
    color: red;
    margin-bottom: 2%;
}
